name: Preparant per producci贸 vue.js
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 
on: [push]

jobs:
  Pujar-a-produccio-amb-SCP:
    runs-on: ubuntu-latest
    steps:
      - name: Obtenir el codi del repositori
        uses: actions/checkout@v4

      - name: Configura Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: ubicacio
        run: pwd
      - name: Instal路lar depend猫ncies
        run: npm ci
      - name: Construir l'aplicaci贸 Vue.js
        run: npm run build

      - name: Configurant SSH i comprovant connexi贸
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          ssh -i ~/prod_key.pem -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "echo 'Conexi贸n SSH exitosa'"

      - name: Desplegar amb SCP a producci贸
        run: |
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i ~/prod_key.pem ./dist/* ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/a23purpatmah/web/a23purpatmah.daw.inspedralbes.cat/public_html/GithubActions/calculadora

      - name: Mostrar estat del job
        run: echo " This job's status is ${{ job.status }}."
